.main-cont{
    width: 100%;
    height: 90vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(154,185,20,1) 0%, rgba(161,208,13,1) 47%, rgba(0,212,255,1) 91%);
    /* background-image: url(./todo.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}
.sub-cont{
    width:70%;
    height:auto;
    border: 2px solid black;
    box-shadow: 0 0 5px red;
}
.sub-cont h3{
    text-align: center;
    font-size: 30px;
    font-size: bold;
    text-decoration: underline;
}
.sub-cont h2{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.sub-cont span{
    margin-left: 390px;
    color: red;
    box-shadow: 0 0 5px black;
    font-size: 25px;
}

@media (max-width: 576px) {
    .main-cont{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
    }
    .sub-cont{
        width:50%;
        height:auto;
        border: 2px solid black;
        box-shadow: 0 0 5px red;
        margin-left: 0px;
    }

}
@media (min-width: 577px) and (max-width: 991px) {
    .main-cont{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width:100%;
    }
    .sub-cont{
        width:80%;
        height:auto;
        border: 2px solid black;
        box-shadow: 0 0 5px red;
    }
    .sub-cont span{
        margin-left: 250px;
        color: red;
        box-shadow: 0 0 5px black;
        font-size: 20px;
    }

}
